VITE_API_URL=https://backkend-testseries.onrender.com
VITE_APP_NAME=P2
VITE_APP_VERSION=0.0.1
VITE_GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
VITE_GITHUB_CLIENT_ID=your-github-oauth-client-id
